<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodejs</title>
    <style>
        body{background-color: beige; text-align: center}
        h1{color: red; text-align: center; font-size: 28px; font-family: Verdana; padding: 10px; margin: 10px;}
        p{text-align: center; font-size: 14px; font-family: Verdana; padding: 10px; margin: 10px;}
    </style>
</head>
<body>
<h1>OPPSSS 404 </h1>
<p>
    sorry the page is not found!
    
</p>
</body>
</html>