<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodejs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
    <link href="/assets/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="add a name" required>
            <button type="submit">add item</button>
        </form>
        <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
        </ul>
    </div>
</body>
</html>